doctype html
html(lang='zxx')
   head
      //meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='HexHex', content='Other Hex')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      
      // JS
      script(src="../js/jquery-3.3.1.js")
      script(src="../js/menu.js")

      // CSS
      link(rel="stylesheet" href="../css/button.css" type="text/css" media="all")
      link(rel="stylesheet" href="../css/hexagon.css" type="text/css" media="all")
      link(rel="stylesheet" href="../css/sidebar.css" type="text/css" media="all")
      link(rel="stylesheet" href="../css/slider.css" type="text/css" media="all")
      link(rel="stylesheet" href="../css/style.css" type="text/css" media="all")
      
      title .: Hexaposer :. Bager Bingöl, Wladimir Nabok und Klaus Bochmann

      // Logo
      div.logo
         img(src="../images/logo2.png")

   body
         .row
             .main-middle
                  

                  - for (var x = 0; x< hexArr.length; x++)
                     - var type = 'hexagon' + hexArr[x].color.toUpperCase();
                     - var ident = 'hex' + hexArr[x].color;
                     - var y = 'y' + hexArr[x].posY;
                     - var z = 'z' + hexArr[x].posZ;
                     - var classes =[type, y+z];
                        figure(id=ident class=classes)

         .main-left
            // Play/PauseButton
            #playStopButton
               button#play.button.play
               button#pause.button.pause
               //Soundscript wird hier geladen damit der Listener sein target findet   
               script(src="../js/soundPlayback.js")
               script(src="../js/hexHidden.js")
            
            // Burger-Box
            .column.main-right
               .side_menu
                  .burger_box
                     .menu-icon-container
                        a.menu-icon.js-menu_toggle.closed(href="#")
                           span.menu-icon_box
                              span.menu-icon_line.menu-icon_line--1
                              span.menu-icon_line.menu-icon_line--2
                              span.menu-icon_line.menu-icon_line--3

                  // Sidebar-Menu
                  .container
                     ul.sidebar-menu
                        li.treeview
                           h2 MediaElementSourceNode
                           h6 Mit der MediaElementSourceNode-Schnittstelle können ein oder mehrere Ton/Töne hinzugefügt werden.
                        li.treeview
                           h2 GainNode (Blau)
                           h6 Mit der GainNode-Schnittstelle können Lautstärkeänderungen vorgenommen werden.
                        li.treeview
                           h2 DelayNode (Grau)
                           h6 Mit der DelayNode-Schnittstelle kann eine Verzögerung hinzugefügt werden. 
                        li.treeview
                           h2 StereoPanningNode (Grün)
                           h6 Die PannerNode-Schnittstelle entscheidet aus welcher Richtung die Soundausgabe kommt.
                        li.treeview
                           h2 WaveshaperNode (Rot)
                           h6 Mit dem WaveshaperNode-Modul werden Audiosignale mit einer dynamischen Verzerrung hinterlegt.
                        li.treeview
                           h2 BiquadFilterNode: Frequenz (Orange)
                           h6 Je höher/kleiner die Frequenz(Schwingungszahl), desto höher/tiefer der Ton.
                        li.treeview
                           h2 BiquadFilterNode: Typ:Lowpass (Purple)
                           h6 Mit der BiquadFilterNode-Schnittstelle(Typ:Lowpass) werden Signale mit Frequenzen unterhalb ihrer Grenzfrequenz ungeschwächt passieren gelassen, während Anteile mit höherer Frequenzen gedämpft werden.
                        li.treeview
                           h2 BiquadFilterNode: Typ:Highpass (Türkis)
                           h6 Mit der BiquadFilterNode-Schnittstelle(Typ:Highpass) werden Signale mit Frequenzen oberhalb ihrer Grenzfrequenz ungeschwächt passieren gelassen, während Anteile mit niedrigen Frequenzen gedämpft werden.

                           .clear      