/*-- hexagonBLUE --*/

.hexagonBLUE {
    width: 96px;
    height: 53px;
    position: absolute;
    /*transform:  translate(0%, 0%);*/
    background: #fff;
    visibility: visible;
}

.hexagonBLUE:before,
.hexagonBLUE:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;  
}

.hexagonBLUE:before {
    transform: rotate(60deg);
}

.hexagonBLUE:after {
    transform: rotate(-60deg);
}

.hexagonBLUE,
.hexagonBLUE:before,
.hexagonBLUE:after {
    background: transparent;
    border: 1px solid #fff;
    background: rgba(48, 141, 255, 0.5);
    /* border-left: 1px solid #fff;
    border-right: 1px solid #fff; */
}

/*-- //hexagonBLUE --*/

/*-- hexagonYELLOW --*/

.hexagonYELLOW {
    width: 96px;
    height: 53px;
    position: absolute;
    /*transform:  translate(100%, 0%);*/
    background: #fff;
    visibility: visible;
}

.hexagonYELLOW:before,
.hexagonYELLOW:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    
}

.hexagonYELLOW:before {
    transform: rotate(60deg);
}

.hexagonYELLOW:after {
    transform: rotate(-60deg);
}

.hexagonYELLOW,
.hexagonYELLOW:before,
.hexagonYELLOW:after {
    background: transparent;
    border: 1px solid #fff;
    background: rgba(255, 255, 0, 0.5);
    /* border-left: 1px solid #fff;
    border-right: 1px solid #fff; */
}

/*-- //hexagonYELLOW --*/

/*-- hexagonGREEN --*/

.hexagonGREEN {
    width: 96px;
    height: 53px;
    position: absolute;
    /*transform:  translate(200%, 0%);*/
    background: #fff;
    visibility: visible;
}

.hexagonGREEN:before,
.hexagonGREEN:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    
}

.hexagonGREEN:before {
    transform: rotate(60deg);
}

.hexagonGREEN:after {
    transform: rotate(-60deg);
}

.hexagonGREEN,
.hexagonGREEN:before,
.hexagonGREEN:after {
    background: transparent;
    border: 1px solid #fff;
    background: rgba(124, 252, 0, 0.5);
    /* border-left: 1px solid #fff;
    border-right: 1px solid #fff; */
}

/*-- //hexagonGREEN --*/

/*-- hexagonRED --*/

.hexagonRED {
    width: 96px;
    height: 53px;
    position: absolute;
    /*transform:  translate(50%, 150%);*/
    background: #fff;
    visibility: visible;
}

.hexagonRED:before,
.hexagonRED:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    
}

.hexagonRED:before {
    transform: rotate(60deg);
}

.hexagonRED:after {
    transform: rotate(-60deg);
}

.hexagonRED,
.hexagonRED:before,
.hexagonRED:after {
    background: transparent;
    border: 1px solid #fff;
    background: rgba(255, 0, 0, 0.5);
    /* border-left: 1px solid #fff;
    border-right: 1px solid #fff; */
}

/*-- //hexagonRED --*/

/*-- hexagonORANGE --*/

.hexagonORANGE {
    width: 96px;
    height: 53px;
    position: absolute;
    /*transform:  translate(300%, 0%);*/
    background: #fff;
    visibility: visible;
}

.hexagonORANGE:before,
.hexagonORANGE:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    
}

.hexagonORANGE:before {
    transform: rotate(60deg);
}

.hexagonORANGE:after {
    transform: rotate(-60deg);
}

.hexagonORANGE,
.hexagonORANGE:before,
.hexagonORANGE:after {
    background: transparent;
    border: 1px solid #fff;
    background: rgba(255, 140, 0, 0.5);
    /* border-left: 1px solid #fff;
    border-right: 1px solid #fff; */
}

/*-- //hexagonORANGE --*/

/*-- hexagonPURPLE --*/

.hexagonPURPLE {
    width: 96px;
    height: 53px;
    position: absolute;
    /*transform:  translate(150%, 150%);*/
    background: #fff;
    visibility: visible;
}

.hexagonPURPLE:before,
.hexagonPURPLE:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    
}

.hexagonPURPLE:before {
    transform: rotate(60deg);
}

.hexagonPURPLE:after {
    transform: rotate(-60deg);
}

.hexagonPURPLE,
.hexagonPURPLE:before,
.hexagonPURPLE:after {
    background: transparent;
    border: 1px solid #fff;
    background: rgba(100, 65, 165, 0.5);
    /* border-left: 1px solid #fff;
    border-right: 1px solid #fff; */
}

/*-- //hexagonPURPLE --*/

/*-- hexagonGREY --*/

.hexagonGREY {
    width: 96px;
    height: 53px;
    position: absolute;
    /*transform:  translate(250%, 150%);*/
    background: #fff;
    visibility: visible;
}

.hexagonGREY:before,
.hexagonGREY:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    
}

.hexagonGREY:before {
    transform: rotate(60deg);
}

.hexagonGREY:after {
    transform: rotate(-60deg);
}

.hexagonGREY,
.hexagonGREY:before,
.hexagonGREY:after {
    background: transparent;
    border: 1px solid #fff;
    background: rgba(119, 119, 119, 0.5);
    /* border-left: 1px solid #fff;
    border-right: 1px solid #fff; */
}

/*-- //hexagonGREY --*/

/*-- hexagonPINK --*/

.hexagonPINK {
    width: 96px;
    height: 53px;
    position: absolute;
    /*transform:  translate(100%, 300%);*/
    background: #fff;
    visibility: visible;
}

.hexagonPINK:before,
.hexagonPINK:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    
}

.hexagonPINK:before {
    transform: rotate(60deg);
}

.hexagonPINK:after {
    transform: rotate(-60deg);
}

.hexagonPINK,
.hexagonPINK:before,
.hexagonPINK:after {
    background: transparent;
    border: 1px solid #fff;
    background: rgba(252, 15, 192, 0.5);
    /* border-left: 1px solid #fff;
    border-right: 1px solid #fff; */
}

/*-- //hexagonPINK --*/

/*-- hexagonTURQUOISE --*/

.hexagonTURQUOISE {
    width: 96px;
    height: 53px;
    position: absolute;
    /*transform:  translate(200%, 300%);*/
    background: #fff;
    visibility: visible;
}

.hexagonTURQUOISE:before,
.hexagonTURQUOISE:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    
}

.hexagonTURQUOISE:before {
    transform: rotate(60deg);
}

.hexagonTURQUOISE:after {
    transform: rotate(-60deg);
}

.hexagonTURQUOISE,
.hexagonTURQUOISE:before,
.hexagonTURQUOISE:after {
    background: transparent;
    border: 1px solid #fff;
    background: rgba(64, 224, 208, 0.5);
    /* border-left: 1px solid #fff;
    border-right: 1px solid #fff; */
}

/*-- //hexagonTURQUOISE --*/

/*--//Positioning--*/

    /*-- Z0 --*/
.y0z0{
    transform : translate(0%, 0%) rotate(30deg);
    }
.y1z0{
    transform : translate(0%, 185%) rotate(30deg);
    }
.y2z0{
    transform : translate(0%, 370%) rotate(30deg);
    }
.y3z0{
    transform : translate(0%, 555%) rotate(30deg);
    }
.y4z0{
    transform : translate(0%, 740%) rotate(30deg);
    }

    /*-- Z1 --*/
.y0z1{
    transform : translate(90%, -90%) rotate(30deg);
    }
.y1z1{
    transform : translate(90%, 95%) rotate(30deg);
    }
.y2z1{
    transform : translate(90%, 280%) rotate(30deg);
    }
.y3z1{
    transform : translate(90%, 465%) rotate(30deg);
    }
.y4z1{
    transform : translate(90%, 650%) rotate(30deg);
    }

    /*-- Z2 --*/
.y-1z2{
    transform : translate(180%, 0%) rotate(30deg);
    }
.y0z2{
    transform : translate(180%, 185%) rotate(30deg);
    }
.y1z2{
    transform : translate(180%, 375%) rotate(30deg);
    }
.y2z2{
    transform : translate(180%, 555%) rotate(30deg);
    }
.y3z2{
    transform : translate(180%, 740%) rotate(30deg);
    }    
.y4z2{
    transform : translate(180%, 885%) rotate(30deg);
    }

    /*-- Z3 --*/
.y0z3{
    transform : translate(270%, -90%) rotate(30deg);
    }
.y1z3{
    transform : translate(270%, 95%) rotate(30deg);
    }
.y2z3{
    transform : translate(270%, 280%) rotate(30deg);
    }
.y3z3{
    transform : translate(270%, 465%) rotate(30deg);
    }
.y4z3{
    transform : translate(270%, 650%) rotate(30deg);
    }
    
    /*-- Z4 --*/
.y-1z4{
    transform : translate(360%, 0%) rotate(30deg);
    }
.y0z4{
    transform : translate(360%, 185%) rotate(30deg);
    }
.y1z4{
    transform : translate(360%, 375%) rotate(30deg);
    }
.y2z4{
    transform : translate(360%, 555%) rotate(30deg);
    }
.y3z4{
    transform : translate(360%, 740%) rotate(30deg);
    }    
.y4z4{
    transform : translate(360%, 885%) rotate(30deg);
    }
    
    /*-- Z5 --*/
.y0z5{
    transform : translate(450%, -90%) rotate(30deg);
    }
.y1z5{
    transform : translate(450%, 95%) rotate(30deg);
    }
.y2z5{
    transform : translate(450%, 280%) rotate(30deg);
    }
.y3z5{
    transform : translate(450%, 465%) rotate(30deg);
    }
.y4z5{
    transform : translate(450%, 650%) rotate(30deg);
    }
    
        /*-- Z6 --*/
.y-1z6{
    transform : translate(540%, 0%) rotate(30deg);
    }
.y0z6{
    transform : translate(540%, 185%) rotate(30deg);
    }
.y1z6{
    transform : translate(540%, 375%) rotate(30deg);
    }
.y2z6{
    transform : translate(540%, 555%) rotate(30deg);
    }
.y3z6{
    transform : translate(540%, 740%) rotate(30deg);
    }    
.y4z6{
    transform : translate(540%, 885%) rotate(30deg);
    }

        /*-- Z7 --*/
.y0z7{
    transform : translate(630%, -90%) rotate(30deg);
    }
.y1z7{
    transform : translate(630%, 95%) rotate(30deg);
    }
.y2z7{
    transform : translate(630%, 280%) rotate(30deg);
    }
.y3z7{
    transform : translate(630%, 465%) rotate(30deg);
    }
.y4z7{
    transform : translate(630%, 650%) rotate(30deg);
    }

    /*-- Z8 --*/
.y0z8{
    transform : translate(720%, 0%) rotate(30deg);
    }
.y1z8{
    transform : translate(720%, 185%) rotate(30deg);
    }
.y2z8{
    transform : translate(720%, 370%) rotate(30deg);
    }
.y3z8{
    transform : translate(720%, 555%) rotate(30deg);
    }
.y4z8{
    transform : translate(720%, 740%) rotate(30deg);
    }
