html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

header,
menu,
nav,
section {
    display: block;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

body {
    font-size: 100%;
    background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
	font-family: 'Raleway', sans-serif;
}

.logo {
	max-width: 30%;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;	
}

/*--header--*/
.head {
    background: rgba(0, 0, 0, 0.53);
    min-height: 100vh;
    padding: 0 13vw;
}
.main {
    padding: 5vw 0;
}

.column {
    float:left;
    padding: 10px;
}

.main-middle {
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 45%;
    left: 47%;
}

.main-left {
    position: fixed;
    width: 25%;    
    bottom: 20px;
    left: 20px;
}

.main-right {
    width: 25%;
    position: fixed;
    right: -50px;
    bottom: 100px;
}
.row::after {
    content: "";
    display: table;
    clear:both;
}

h1 {
    font-size: 3.5em;
    color: #fff;
    letter-spacing: 4px;
     padding-top: 3vw;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    text-transform: capitalize;
}

h2 {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin:10px;
}

h3 {
    color: #FFC107;
    font-weight: 900;
    display: block;
    margin-top: 10px;
    font-size: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h6 {
    color: #fff;
    display:block;
    font-size: 10px;
    letter-spacing: 1px;
}


/*--//header--*/

/*--SidebarNavImages--*/

.nav-image {
    width: 30px;
}